{% extends 'base.html.twig' %}

{% block title %}Prueba tecnica{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Prueba de symfony 4.4 ✅</h1>
    <!--vamos a sacar con un bucle todas la series-->
    {{dump(series)}}
    {% for serie in series %}
            <ul>
                <li>{{serie.nombre}}</li>
                <li>{{serie.creador}}</li>
                <li>{{serie.anio}}</li>
            </ul>
    {% endfor %}
</div>
{% endblock %}
